@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
font-family: 'Open Sans', 'Montserrat', sans-serif;
*/

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 1px dotted #ffefef;
  --back: rgba(17, 12, 27, 0.726);
  --color: #000;
  --color-boton: #fff;
  --backtabla: #fff;
  --color-precio: #585858;
  --boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
} 

.contenedor{
  width: 97vw;
  height: 90vh;
  margin: auto;
  font-family: 'Open Sans', 'Montserrat', sans-serif;

  }

header {
  height: 30%;
  width: 100%;
  position: relative;
  background: #025373;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif; 
}
header nav{
  display: block;
}

header a{
  font-family: 'Montserrat', sans-serif;
  color:#ffefef
}

.navegacion{
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #03A6A6;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f28705;
}

.active {
  background-color: #f28705;
}

.menu-login {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  background: #RRGGBBAA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px #000000;
  animation: jordan 0.5s 3 alternate;
  transform: scale(1);
  z-index: 20;
}

.menu-login>div{
  width: 21px;
  height: 3px;
  background-color: #000000;
  margin: 6px auto;

}

.menu-login>div:first-child{
  margin-top: 14px;
}

.menu-login img {
  height: 40px;
  width: 40px;
  position: fixed;
}

.login-form{
  color: #ffffff;
  font-family: sans-serif;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transition-property: clip-path;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.ubicacion-form{
  float: left;
}

.nombre-revista h1 {
  font-size: 60px;
  width: 50%;
  color: #ffffff;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

h3 + p {
  color: #774c4c;
  text-align: center;
}


.section1 nav{
  float: left;
}


footer {
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #f24535;
}

/* */
